/* Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');

.col-md-4 offset-md-4 form-div {
  margin: 50px auto 50px;
  padding: 25px 15px 10px 15px;
}

form p {
  font-size: .89em;
}
